<%= provide(:title, "New crawl directory") %>
<div class="container">
  <h1>New Crawl Directory</h1>
  <%= render 'form' %>

  <%= link_to 'Back', crawl_directories_path, class: "btn btn-primary", id:"cd-new-back-btn" %>
</div>
